@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.header {
    &__image {
        margin-top: 3vh;
        width: 100%;
    }
}

.about {

    &__info {
        width: 40%;
    }

    &__title {
        margin-bottom: 4vh;
    }

    &__subtitle {
        margin-bottom: 2vh;
        margin-top: 2vh;
    }

}