@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.header {
    &__image {
        margin-top: 3vh;
        width: 100%;
    }
}

.contact {
    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        &__title {
            padding-bottom: 3vh;
            align-self: baseline;
        }

        &__error {
            background-color: yellow;
            border: 3px solid #ff0000;
            border-radius: 10px;
            font-weight: bold;
            color: black;
            margin: 1vh;
            padding: 1vh;
            text-align: center;
            display: none;
        }

        &__submit {
            display: block;
            margin: auto;
            margin-top: 3vh;
            cursor: pointer;
        }

        &__data {
            h3 {
                margin-bottom: 2vh
            }

            p,
            ul {

                margin-bottom: 1vh;

            }

            a {
                margin-bottom: 1vh;
                color: blue;
                text-decoration: solid;
            }

        }

        label {
            font-weight: bold;
        }

        input,
        textarea {
            border: 2px solid #ccc;
            border-radius: 8px;
            padding: 1.5vh;
            margin-bottom: 2vh;
            width: 100%;

        }
    }
}