@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.header {
    grid-area: header;

    &__logo {
        position: absolute;
        height: 10vh;
        margin: 2vh;
        z-index: 2;
    }

    // &__title {
    //     font-family: Super Plants;
    //     color: var.$textColorPrimary;
    // }
}